@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: RobotoCondensed;
  src: url("../fonts/Roboto/Roboto-Condensed.ttf"); }

@font-face {
  font-family: RobotoLight;
  src: url("../fonts/Roboto/Roboto-Light.ttf"); }

@font-face {
  font-family: RobotoThin;
  src: url("../fonts/Roboto/Roboto-Thin.ttf"); }

@font-face {
  font-family: RobotoMedium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf"); }

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }

@font-face {
  font-family: RobotoBlack;
  src: url("../fonts/Roboto/Roboto-Black.ttf"); }

@font-face {
  font-family: Muller;
  src: url("../fonts/Fontfabric/Fontfabric - MullerRegular.otf"); }

@font-face {
  font-family: MullerRegularItalic;
  src: url("../fonts/Fontfabric/Fontfabric - MullerRegularItalic.otf"); }

@font-face {
  font-family: MullerBlack;
  src: url("../fonts/Fontfabric/Fontfabric - MullerBlack.otf"); }

@font-face {
  font-family: MullerBold;
  src: url("../fonts/Fontfabric/Fontfabric - MullerBold.otf"); }

@font-face {
  font-family: MullerExtraBold;
  src: url("../fonts/Fontfabric/Fontfabric - MullerExtraBold.otf"); }

@font-face {
  font-family: MullerHairline;
  src: url("../fonts/Fontfabric/Fontfabric - MullerHairline.otf"); }

@font-face {
  font-family: MullerHeavy;
  src: url("../fonts/Fontfabric/Fontfabric - MullerHeavy.otf"); }

@font-face {
  font-family: MullerLight;
  src: url("../fonts/Fontfabric/Fontfabric - MullerLight.otf"); }

@font-face {
  font-family: MullerMedium;
  src: url("../fonts/Fontfabric/Fontfabric - MullerMedium.otf"); }

@font-face {
  font-family: MullerThin;
  src: url("../fonts/Fontfabric/Fontfabric - MullerThin.otf"); }

@font-face {
  font-family: MullerUltraLight;
  src: url("../fonts/Fontfabric/Fontfabric - MullerUltraLight.otf"); }
